* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.banner {
  height: 100vh;
  width: 100%;
  color: white;
  background-image: url("pictures/Hotel-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: fixed; */
}
.overlay{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2));
height: 100%;
}
.title-name{
  font-size: 40px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.849);
  letter-spacing: 0.2cm;
}

.navbar {
  height: 12%;
  width: 100%;
  display: flex;
  /* margin-top: 3px; */
  align-items: center;
  background-color: rgba(0, 3, 4, 0.9);
  /* padding-top: 10px; */
  padding-left: 4%;
  padding-right: 2.5%;
  position: sticky;
}
nav {
  text-align: right;
  flex: 1;
}
nav ul li {
  display: inline-block;
  margin-left: 17px;
  margin-right: 2%;
}
nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: bolder;
}
.quotes{
  font-size: 60px;
  margin-top: 120px;
  padding-left: 90px;
}

/* Start of page 2 landing page  */

.page2 {
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}
.greet {
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}
span {
  display: block;
}
.reserve {
  /* align-items: center; */
  margin-top: 30px;
  margin-left: 43%;
  font-size: 17px;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  padding: 10px;
  background-color: rgb(18, 194, 224);
  border-radius: 25px;
}
